<header class="jumbotron text-center">
    <h1>|All foods items</h1>
</header>
<section>
    <form>
        <div class="form-group">
          <label for="formControlRange">Start Price</label>
          <input type="range" class="form-control-range" id="formControlRange" [(ngModel)]="lim1" name="lim1" max="500">
          <span>{{lim1}}<!-- Default value --></span>
          <!-- lim2 -->
          <br>
          <label for="formControlRange">End Price</label>
          <input type="range" class="form-control-range" id="formControlRange" [(ngModel)]="lim2" name="lim2" max="500" (change)="selectPrice()">
          <span>{{lim2}}<!-- Default value --></span>
        </div>
      </form>
    
</section>



<section>
    <div class="card-columns" >
       
          <div class="card-body text-center" >
            <div class="row">
                <div class="card" style="width:300px; height:450px" *ngFor="let f of foodItems|paginate: {
                    itemsPerPage: pageSize,
                    currentPage: page,
                    totalItems: total};let i=index">
                        <img class="card-img-top" src="http://localhost:8000/upload/{{f.food_image}}" alt="{{f.food_name}}" width="200px" height="200px">
                        <div class="card-body">
                          <h4 class="card-title">{{f.food_name}}</h4>
                          <p class="card-text" id="d1">{{f.food_desc}}</p>
                          <a href="#" class="btn btn-success">Price:{{f.food_price |currency:'INR'}}</a>
                        </div>
                      </div> 
            </div>
                  
        </div>
    
      </div>
      <br>
      <pagination-controls (pageChange)="page = $event" ></pagination-controls>
      
</section>