<header class="jumbotron text-center">
    <h1>|Bong Thali-2024|</h1>
</header>
<article>
    <section>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium incidunt provident, consectetur itaque sint explicabo dolorum animi nemo officiis recusandae voluptatum laborum nihil expedita! Itaque omnis eum eius minus suscipit!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis error minima aut corporis fuga, ut quisquam porro ipsum veritatis at temporibus consequatur culpa! Magni dolor aut voluptate, sunt doloremque inventore.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quia animi dolorem harum ea repellat laudantium est numquam cupiditate alias? Consequatur, autem. Quo dolorem rerum ab nihil possimus fugiat delectus!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur aut quisquam inventore, ipsam odio ab corporis perspiciatis sapiente! Expedita id quo laudantium, ad iure velit ratione inventore minus nam provident.
    </section>
</article>